<!-- Validation failure messages -->
<% if @friend.errors.any? %>
  <% @friend.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Friend #<%= @friend.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_friend/<%= @friend.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for owner_id -->
      <div class="form-group">
        <label for="owner_id" class="control-label">
          Owner
        </label>

        <input type="text" id="owner_id" name="owner_id" placeholder="Owner" class="form-control" value="<%= @friend.owner_id %>">
      </div>

      <!-- Label and input for friend_id -->
      <div class="form-group">
        <label for="friend_id" class="control-label">
          Friend
        </label>

        <input type="text" id="friend_id" name="friend_id" placeholder="Friend" class="form-control" value="<%= @friend.friend_id %>">
      </div>

      <button class="btn btn-warning">
        Update Friend
      </button>
      or
      <a href="/friends/<%= @friend.id %>">Cancel</a>
    </form>
  </div>
</div>
