<!-- Validation failure messages -->
<% if @capsule.errors.any? %>
  <% @capsule.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Capsule #<%= @capsule.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_capsule/<%= @capsule.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @capsule.name %>">
      </div>

      <!-- Label and input for type -->
      <div class="form-group">
        <label for="type" class="control-label">
          Type
        </label>

        <input type="text" id="type" name="type" placeholder="Type" class="form-control" value="<%= @capsule.type %>">
      </div>

      <!-- Label and input for media -->
      <div class="form-group">
        <label for="media" class="control-label">
          Media
        </label>

        <input type="text" id="media" name="media" placeholder="Media" class="form-control" value="<%= @capsule.media %>">
      </div>

      <!-- Label and input for emotion -->
      <div class="form-group">
        <label for="emotion" class="control-label">
          Emotion
        </label>

        <input type="text" id="emotion" name="emotion" placeholder="Emotion" class="form-control" value="<%= @capsule.emotion %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @capsule.description %>">
      </div>

      <!-- Label and input for owner_id -->
      <div class="form-group">
        <label for="owner_id" class="control-label">
          Owner
        </label>

        <input type="text" id="owner_id" name="owner_id" placeholder="Owner" class="form-control" value="<%= @capsule.owner_id %>">
      </div>

      <button class="btn btn-warning">
        Update Capsule
      </button>
      or
      <a href="/capsules/<%= @capsule.id %>">Cancel</a>
    </form>
  </div>
</div>
