<div class="page-header">
  <h3>Capsule #<%= @capsule.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @capsule.name %></dd>

      <dt>Type</dt>
      <dd><%= @capsule.type %></dd>

      <dt>Media</dt>
      <dd><%= @capsule.media %></dd>

      <dt>Emotion</dt>
      <dd><%= @capsule.emotion %></dd>

      <dt>Description</dt>
      <dd><%= @capsule.description %></dd>

      <dt>Owner</dt>
      <dd><%= @capsule.owner_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/capsules" class="btn btn-primary">
        Back
      </a>
      <a href="/capsules/<%= @capsule.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_capsule/<%= @capsule.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
