<div class="page-header">
  <h3>Sent Capsule #<%= @sent_capsule.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Capsule</dt>
      <dd><%= @sent_capsule.capsule_id %></dd>

      <dt>Recipient type</dt>
      <dd><%= @sent_capsule.recipient_type %></dd>

      <dt>Ind recipient</dt>
      <dd><%= @sent_capsule.ind_recipient_id %></dd>

      <dt>Group recipient</dt>
      <dd><%= @sent_capsule.group_recipient_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/sent_capsules" class="btn btn-primary">
        Back
      </a>
      <a href="/sent_capsules/<%= @sent_capsule.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_sent_capsule/<%= @sent_capsule.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
